


body {
    background-color: #f1f1f1;
    font-family: HelveticaNeueRegular, HelveticaNeue-Regular, "Helvetica Neue Regular", HelveticaNeue, "Helvetica Neue", Helvetica, Arial;
    color: #0272B7;
}

h1 {
    display: block;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 1.7em;
    color: #1d3557;
}

h2 {
	font-size: 1.4em;
    color: #1d3557;
}

h3 {
	font-size: 1.2em;
    color: #1d3557;
}

h4 {
	font-size: 1em;
    color: #1d3557;
}

h5{
	font-size: 1.4em;
	color: #1d3557;
}

#status, #status_label {
	display:inline;
}
#status {
	color: #1d3557;
}

#label1, #label1 {
	display:inline;
}
#label1 {
	color: #1d3557;
}		

#label2, #label2 {
	display:inline;
}
#label2 {
	color: #1d1111;
}		


.buttons {
    padding: 5px;
}

input[type="button"] {
	font-size: 12px;
	border: 0;
    line-height: 2;
    padding: 0 5px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: RGBA(106,125,144,0.35);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

input[type="button"]:hover {
    background-color: RGBA(112,164,222,0.68);
}

input[type="button"]:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.control {
    width:  45px; 
    height: 30px;
    border-radius: 50%;
    background-color: RGBA(106,125,144,0.35); 
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    margin: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; 
    color: white; 
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

.orange {
    background-color: rgba(255, 165, 0, 0.35);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.8);
}

.blue {
    background-color: rgba(30, 144, 255, 0.35);
    box-shadow: 0 0 10px rgba(30, 144, 255, 0.8);
}


#inValue1, #inValue1 {
	display:inline;
}
#inValue1 {
	color: #1d1111;
}		


#inValue2, #inValue2 {
	display:inline;
}
#inValue2 {
	color: #1d1111;
}		



#inValue3, #inValue3 {
	display:inline;
}
#inValue3 {
	color: #1d1111;
}		



#inValue4, #inValue4 {
	display:inline;
}
#inValue4 {
	color: #1d1111;
}		

#outValue1, #outValue1 {
	display:inline;
}
#outValue1 {
	color: #1d1111;
}		

#outValue2, #outValue2 {
	display:inline;
}
#outValue2 {
	color: #1d1111;
}		

#outValue3, #outValue3 {
	display:inline;
}
#outValue3 {
	color: #1d1111;
}		

#outValue4, #outValue4 {
	display:inline;
}
#outValue4 {
	color: #1d1111;
}		


